<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-item color="primary" lines="none">
      <ion-label color="light">Mahtama nager...</ion-label>
      <ion-icon color="light" slot="end" name="card"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid fixed>
   <ion-row>
     <ion-col size="12">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let img of banner" >
          <ion-img [src]="img.image"></ion-img>
        </ion-slide>
       
      </ion-slides>
      <ion-searchbar placeholder="Search" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
     </ion-col>
     <ion-col size="12">
       <div >
       <ion-list class="flex-container">
         <ion-list-header>
           <ion-text color="primary">
             <h3>Dog Categories</h3>
           </ion-text>
         
         </ion-list-header>
        <ion-card *ngFor="let item of categories" (click)="openFoodPage(item)" >
          <ion-card-content>
            <ion-img src="assets/icon/favicon.png"></ion-img>
              <ion-text class="ion-text-center" color="primary">
                <h6> {{item.name}} </h6>
              </ion-text>
          </ion-card-content>
        </ion-card>
       </ion-list>
       </div>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
